.post-img{
    height:400px;
    overflow:hidden;
    margin-top: 0;;
}
.post-img img{
    width:100%;
   
}
.blog-content {
    line-height: 2rem;
    font-family: var(--font1);
    font-size: 20px;
    
}
.blog-content p{
    margin-top: 10px;
    font-size: 1.2rem;
}

.blog-content h1{
    text-align: center;
}

.blog-content h1{
    margin:20px;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.more-post{
    flex-direction: column;
    text-align: center;
}

.blog-post-meta{
    display: flex;
    
    justify-content: space-between;
    align-items: center;

}

.author-name{
font-family: var(--font2);
font-size: 1rem;
padding:10px 15px;
line-height: 1.5rem;
font-weight: bolder;
}
.social-media{
    padding-right: 36px
}
.social-media svg{
    cursor: pointer;
}
.home-article{
    padding:5px;
}
.home-article-img{
    width:275px;
}
.home-article-content{
    width: 279px;
    text-align: center;
    padding: 0px;
    display: block;
    margin: auto;
}
