 @import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Baloo+Bhaijaan+2:wght@800&family=Bungee+Spice&family=Oswald:wght@700&family=Roboto+Serif:opsz,wght@8..144,500&display=swap'); 

:root{
    --main-bg-color:brown;
    --font1:'Baloo Bhaijaan 2', cursive;
    --font2:'Roboto Serif', serif;
}
 .max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}

.m-auto{
    margin:auto;
}

span{
    color: red;
}


.form-input{
    padding: 0rem .4rem;
    font-size: 1rem;
    border: 2px solid red;
    border-radius: 6px;
    margin:4px 7px;
    font-family: var(--font1);

}
.btn{
    padding: 0rem .4rem;
    border: 2px solid red;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 1rem;
    cursor:pointer;
    transition:all .3s ease-in-out;
}

.btn:hover{
    background-color:red;
    color:white;
    border: 2px solid black;
}

.m2{
    margin-top: 12px;
    margin-bottom: 12px;
}